@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import "tailwindcss";

@layer base {
  * {
    font-family: 'Poppins', sans-serif;
  }
}

.cm-keyword { color: #0066b5 !important; }
.cm-declaration { color: #a200ff !important; }
.cm-ntype { color: #2bb900 !important; }
.cm-loop { color: #d1479c !important; }
.cm-atom { color: #0084a1 !important; }
.cm-number { color: #00bbff !important; }
.cm-string { color: #a27100 !important; }
.cm-comment { color: #00d59d !important; font-style: italic; }
.cm-operator { color: #ff5555 !important; }
.cm-variable { color: #30c7c2 !important; }